* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  perspective: 700px;
  perspective-origin: 50% 50%;
  overflow: hidden;
}

#container {
  --Ydeg: 0deg;
  --Xdeg: 0deg;
  position: relative;
  
  transform-style: preserve-3d;
  width: 500px;
  height: 500px;
  transform: translateZ(500px) rotateY(var(--Ydeg)) rotateX(var(--Xdeg));
  overflow: visible;
}

.wall {
  position: absolute;
  top: 0;
  left: 0;

  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.front {
  transform: translateZ(250px) rotatey(180deg);
  background-color: gray;
}

.back {
  transform: translateZ(-250px) rotate(0);
  background-color: black;
  color: white;
}

.left {
  transform: translateZ(-250px) translatex(-100%) rotatey(90deg);
  background-color: blue;
  transform-origin: right center;
}

.right {
  transform: translateZ(-250px) translatex(100%) rotatey(-90deg);
  background-color: red;
  transform-origin: left center;
}

.top {
  transform: translateZ(0px) translatey(50%) rotatex(-90deg);
  background-color: yellow;
  transform-origin: left center;
}

.bottom {
  transform: translateZ(0px) translatey(-50%) rotatex(-90deg);
  background-color: green;
  transform-origin: left center;
}